# Copy this file to `.env` for local development (do NOT commit your real .env).
# For Render, add matching environment variables in your Render service settings.

VITE_FIREBASE_API_KEY="AIzaSyCgksnN0sCEgsbSNOkNDKN2qvr61XKCTkE"
VITE_FIREBASE_AUTH_DOMAIN="inviteflow-796b5.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="inviteflow-796b5"
VITE_FIREBASE_STORAGE_BUCKET="inviteflow-796b5.appspot.com"
VITE_FIREBASE_MESSAGING_SENDER_ID="49475640006"
VITE_FIREBASE_APP_ID="1:49475640006:web:be2070ca256071fcea15c7"


# Optional: analytics or other VITE_ vars used elsewhere
# VITE_OTHER_KEY=...
